<input type="file" style="display: none" (change)="onFileChanged($event)" #fileInput multiple>
<button type="button" class="btn btn-primary" (click)="fileInput.click()">
  Upload a new image
</button>
<button type="button" class="btn btn-primary" (click)="upload()">Upload</button>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Category</span>
  </div>
  <input [(ngModel)]="category" type="text" class="form-control">
</div>

<div *ngFor="let picture of pictures">
  <p>Name: {{ picture.name }}</p>
  <p>FileName: {{ picture.fileName }}</p>
</div>
