<div class="grid">
  <app-grid-cell
    *ngFor="let center of currentCenters; index as idx"
    [center]="center"
    [gridIndex]="idx"
    (pickImageClicked)="onPickImageClicked($event)">
  </app-grid-cell>
</div>

<div id="search-overlay" *ngIf="showSearch">
  <button class="btn" id="close" (click)="closeOverlay()">
    <i class="fas fa-times-circle fa-lg"></i>
  </button>

  <input
    #search type="text"
    class="form-control"
    (keyup)="searchTerm$.next($event.target.value)">

  <div class="search-results" *ngIf="searchResults">
    <ul class="list-group">
      <button
        class="list-group-item list-group-action-item"
        *ngFor="let center of searchResults"
        (click)="pick(center)">
          {{ center.name }}
      </button>
    </ul>
  </div> <!-- End Search Results -->

</div>
